<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/img/cloud-solid.svg">
    <link rel="stylesheet" href="/css/styles.css">
    <title>404</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        {{>404}}
    </div>
    {{>footer}}
</body>
</html>